@charset "UTF-8";

$primaryColor: #87C442;
$secondaryColor: #41823B;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Sunflower', sans-serif;
    line-height: 1.5em;
    color: #222;
}

.container {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    color: darkblue;
}

hr {
    border: solid 1px;
}

h1,
h2,
h3 {
    font-weight: 500;
    text-align: center;
    line-height: normal;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    color: $primaryColor;
}

h3 {
    font-size: 2rem;
    color: $primaryColor;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3.2rem;
    }
}

nav {
    text-align: center;
    display: flex;

    a {
        text-transform: uppercase;
        text-align: center;
        color: $primaryColor;
    }
}

nav a:hover {
    transition: 0.5s;
    color: $secondaryColor;
}

nav img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

nav li {
    list-style: none;
}

@media screen and (min-width: 1024px) {
    .navbar {
        display: flex;
    }

    #navbar-collapse {
        flex-basis: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

section {
    padding-left: 2rem;
    padding-right: 2rem;
}

#hero {
    background-image: url("../img/joli-gite.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFF;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero h2 {
    color: #FFF;
}

#hero p {
    font-size: 1.5rem;

}

@media screen and (min-width: 1024px) {
    #hero {
        background-image: url("../img/joli-gite-desktop.jpg");
    }
}

#gite {
    background: linear-gradient(#DEFABB, #F6FDED);
    width: 100%;
    text-align: center;
}

#gite li {
    text-align: left;
}

#chambres article {
    border: solid 1px;
    border-color: $primaryColor;
    border-radius: 5%;
}

#chambres {
    margin-bottom: 1rem;
    text-align: center;

}

#chambres span {
    color: $primaryColor;
}

#chambres li {
    text-align: left;
}

iframe {
    width: 100%;
    height: 400px;
}

@media screen and (min-width: 768px) {
    .flexarticle {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .leschambres {
        flex-basis: 31%;
        padding: 1rem;
    }
}

#environs {
    background: linear-gradient(#E9E9E9, #AED3F2);
    width: 100%;
}

@media screen and (min-width: 768px) {
    .flexenvirons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #environs article {
        flex-basis: 48%;
    }

    .flexcontact {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #contact article {
        flex-basis: 48%;
    }

    #contact aside {
        flex-basis: 48%;
    }
}

footer {
    background-color: $secondaryColor;
    text-align: center;
    color: #FFF;
    width: 100%;

    a {
        color: #FFF;
    }
}

.inputds {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .form-row {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
    }

    label {
        grid-column: 1/3;
    }

    input {
        grid-column: 3/3
    }
}

input {
    border: solid 1px #ddd;
    border-radius: 5px;
}

button {
    background-color: $primaryColor;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    border: none;
    border-radius: 5%;
    font-size: 24px;
    padding: 5px;
}